---
// import HeroSectionWithLogoClouds from '../../components/floatui/HeroSectionWithImage.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ZoomableSunburst from '@components/d3js/ZoomableSunburst.astro';
---
<BaseLayout>      
    <p>Text here</p>

    <ZoomableSunburst />
</BaseLayout>