---
import HeroSectionWithImage from '~/components/floatui/HeroSectionWithImage.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
    <HeroSectionWithImage />
    
    <h1>About me</h1>
    ...
</BaseLayout>